//colors
$default-color: #FFFFFF;
$smoke-color: #FAFAFA;
$black-color: #191919;
$main-color: #2A2D82;
$green-aqua-color: #00FFC2;
$purple-pastel-color: #4C479E;
$green-pastel-color: #12A19A;
$red-pastel-color: #FF5151;
$yellow-pastel-color: #E3B100;
$orage-pastel-color: #FF8551;
$blue-king-color: #123AA0;
$blue-dark-color: #144D8E;
$gray-dark-color: #324259;
$purple-dark-color: #A01267;
$green-dark-color: #12A086;
$pink-wine-color: #FF5BA5;
$pink-opaque-color: #FF87BE;
$blue-opaque-color: #8987FF;

//fonts
$poppins-font: "Poppins";